# This file is part of the CampaignChain package.
#
# (c) CampaignChain, Inc. <info@campaignchain.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

parameters:
    campaignchain.operation.linkedin.share_news_item:
        bundle_name: "campaignchain/operation-linkedin"
        module_identifier: "campaignchain-linkedin-share-news-item"
        form_type: "CampaignChain\\Operation\\LinkedInBundle\\Form\\Type\\ShareNewsItemOperationType"

services:
    campaignchain.job.operation.linkedin.share_news_item:
        class: CampaignChain\Operation\LinkedInBundle\Job\ShareNewsItem
        arguments: [ @doctrine.orm.entity_manager, @service_container ]
    campaignchain.job.report.linkedin.share_news_item:
        class: CampaignChain\Operation\LinkedInBundle\Job\ReportShareNewsItem
        arguments: [ @doctrine.orm.entity_manager, @service_container ]
    campaignchain.operation.linkedin.news_item:
            class: CampaignChain\Operation\LinkedInBundle\EntityService\NewsItem
            arguments: [ @doctrine.orm.entity_manager ]