# Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

parameters:
    campaignchain.operation.linkedin.share_news_item:
        bundle_name: "campaignchain/operation-linkedin"
        module_identifier: "campaignchain-linkedin-share-news-item"
        form_type: "CampaignChain\\Operation\\LinkedInBundle\\Form\\Type\\ShareNewsItemOperationType"

services:
    campaignchain.job.operation.linkedin.share_news_item:
        class: CampaignChain\Operation\LinkedInBundle\Job\ShareNewsItem
        arguments: [ "@doctrine", "@campaignchain.core.cta", "@campaignchain.channel.linkedin.rest.client", "@campaignchain.job.report.linkedin.share_news_item", "@liip_imagine.cache.manager" ]
    campaignchain.job.report.linkedin.share_news_item:
        class: CampaignChain\Operation\LinkedInBundle\Job\ReportShareNewsItem
        arguments: [ "@doctrine", "@campaignchain.core.fact", "@campaignchain.channel.linkedin.rest.client"]
    campaignchain.operation.linkedin.news_item:
            class: CampaignChain\Operation\LinkedInBundle\EntityService\NewsItem
            arguments: [ '@doctrine' ]