/*
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
*/

#campaignchain-operation-linkedin-share-news-item .panel-default > .panel-heading {
    background-color: #3f3f3f;
    background-image: -moz-linear-gradient(center top , #696969 0%, #3f3f3f 100%);
    color: #fff;
    height: 41px;
}

#campaignchain-operation-linkedin-share-news-item .panel-default > .panel-heading a {
    color: #fff;
}

#campaignchain-operation-linkedin-share-news-item .panel-default > .panel-heading .fa {
    font-size: 22px;
}

#campaignchain-operation-linkedin-share-news-item .panel-body {
    background-color: #f8f8f8;
}